@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&display=swap');

body {
  background-color: #000000;
  background-repeat: no-repeat;
	background-size: 100% 165%;
  font-family: 'Bungee Spice' , cursive;
  color: rgb(253, 253, 253);
  
}
.titulo {
  display: flex;
  justify-content: center;
  font-size: 3rem;
  font-family: 'Bungee Inline', cursive;


}

.Tarjetas {
  display: flex;
  align-content: center;
  flex-direction: row;
  justify-content: center;
}
.Tarjeta1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: darkorange;
  border-radius: 2rem;
  width: 20rem;
  height: 22rem;
  border: 3px solid darkred;
  justify-content: space-evenly;
}
.Tarjeta2 {
  display: flex;
    flex-direction: column;
    align-items: center;
    background-color: darkorange;
    border-radius: 2rem;
    width: 20rem;
    height: 22rem;
    border: 3px solid darkred;
    justify-content: space-evenly;
}

/* .primeraopcion {
 background-color: #943fcc;
    border: none;
    border-radius: 25px;
    width: 3rem;
    height: 3rem;
    font-size: 16px;
    font-weight: 600;
    margin: 15px auto;
    font-family: Poppins, sans-serif;
    cursor: pointer;
}
.primeraopcion:active{
  background-color: #ffffff;
  color: #ea00ff;
}
.primeraopcion:hover {
  transform: scale(1.2);
 
 } */
.primeraopcion {
  background-color: #EEE9DA;
    display: flex;
    align-items: center;
    margin: 0 0 5px;
    padding: 10px;
    border-radius: 10px;
    border: 3px solid darkred;
    color: #000000;
    height: 1rem;
    width: 14rem;
}
.input{
  /* display: none; */
}
.frase {
  font-size: 2rem;
  margin: 0;
}

.bg-1{
  text-align: center;
  justify-content: center;
     
  }
   
  .t-stroke {
    color: transparent;
    -moz-text-stroke-width: 2px;
    -webkit-text-stroke-width: 2px;
    -moz-text-stroke-color: #000000;
    -webkit-text-stroke-color: #ffffff;
    margin-top: 1rem;
  }
  .t-shadow {
    font-size: 3rem;
  }
  h2 {
    height: fit-content;
    width: fit-content;
    padding: 10px;
    text-align: center;
    color: darkred;
  } 
  .etiquetas {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .enviar {
    background-color: #ff0000;
    color: white;
    width: 8rem;
    height: 3rem;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    margin: 1rem;
    border: 2px solid white;
    /* display: none; */
}

  .enviar:hover {
   transform: scale(1.2);
   cursor: pointer;
  
  }
  .enviar:active {
    color: #ff0000;
    background-color: #ffffff;
    border: 2px solid #ff0000;
  
  }
  img{
    width: 20rem;
    height: 24rem;
  }
  .mensaje{
    display: none;
  }